* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Rectangle-10 {
    width: 1440px;
height: 35px;
background: #D9D9D9;
}

.Rectangle-5 {
    width: 1440px;
height: 539px;
background: #36A5B2;
display: flex;
}

nav {
    position: fixed;
    margin-left: 870px;
    width: 530px;
height: 50.211px;
flex-shrink: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
    border-radius: 100px;
    font-size: 14px;
    margin-top: 20px;
}

.material-symbols-outlined {
}

nav img {
    width: 200px;
}

nav ul li {
    list-style-type: none;
    display: inline-block   ;
    padding: 0px 20px;
}

nav ul li a {
    text-decoration: none;
}

.container-1 {
    width: 720px;    
    height: 500px;
    background: #36A5B2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
    
    
}

.logo img {
    width: 266px;
    height: 62px;
    margin-top: 5px;
    position: absolute;
}

.container-2 {
    width: 720px;
    height: 500px;
    background: #36A5B2;
    
}

.Primary-button {
    width: 99px;
    height: 35px;
    flex-shrink: 0;
    background: #EBF1F4;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 9px;
}

.Primary-button h2 {
    color: #00A7B4;
    
}