/* Universal */
:root {
  --primary: #36a5b2;
  --secondary: white;
  --third: #b24336;
  --background: #f6f6f6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--primary);
  padding-top: 91.97px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--secondary);
  position: fixed;
  width: 100%;
  z-index: 1000;
  font-weight: bold;
  top: 0;
}
/* Navbar Logo */
.navbar .navbar-logo {
  flex: 1 0 20%;
}
.navbar .navbar-logo img {
  width: 10rem;
}
/* Navbar Link */
.navbar .navbar-nav {
  display: flex;
  flex: 1 0 80%;
  justify-content: space-between;
}

.navbar .navbar-nav .navbar-middle a {
  color: var(--primary);
  display: inline-block;
  margin: 0 1rem;
}

.navbar .navbar-nav .navbar-middle a:hover {
  border-bottom: var(--primary) 2px solid;
  transition: 0.1s linear;
}

.navbar .navbar-nav .navbar-middle .active {
  border-bottom: var(--primary) 2px solid;
}

.navbar .navbar-nav .navbar-login a {
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: 15px;
  min-width: 2rem;
  padding: 0.3rem 0.94rem;
  font-weight: bold;
}

.navbar .navbar-nav .navbar-login a:hover {
  color: var(--primary);
  background-color: var(--secondary);
  border: var(--primary) 1px solid;
}
/* Navbar Menu Button */
.navbar .navbar-right {
  display: none;
}

.navbar .navbar-right a {
  margin: 0 0.5rem;
}

/* Hero */
.hero {
  display: flex;
  padding: 0 7%;
  background-color: var(--primary);
  justify-content: space-between;
  align-items: center;
  max-height: 50vh;
  overflow: visible;
}

.hero h1 {
  color: var(--secondary);
  font-size: 4rem;
}

.hero img {
  margin-top: 4%;
  width: 60vh;
}

/* What to Do */
.what-to-do {
  padding: 0 7%;
  margin: 4.68rem 0 0;
}

.what-to-do .title {
  text-align: center;
}

.what-to-do .title h2 {
  font-size: 2.75rem;
  font-weight: bold;
}

.what-to-do .title h3 {
  font-size: 1.25rem;
  font-weight: normal;
}

.what-to-do .title img {
  width: 10rem;
  margin-top: 1rem;
}
/* What to Do Steps */
.what-to-do .steps {
  margin: 0 20%;
}

.what-to-do .steps .step {
  margin: 4.12rem 0;
  display: flex;
}

.what-to-do .steps .step .step-image {
  padding: 0 1rem;
}

.what-to-do .steps .step .step-image img {
  width: 4.5rem;
}

.what-to-do .steps .step .step-container {
  padding: 0 1rem;
}

.what-to-do .steps .step .step-container .step-title p {
  color: var(--third);
  width: fit-content;
  border-bottom: var(--third) 2px solid;
  border-image: linear-gradient(to right, var(--third) 30%, transparent 30%) 1;
}

.what-to-do .steps .step .step-container .schedule p {
  width: 9.43rem;
}
/* What to Do Step 2 Schedule */
.what-to-do .steps .step .step-container .schedule .weekday,
.saturday,
.sunday {
  display: flex;
}

.what-to-do .steps .step .step-container .schedule .end {
  float: right;
}

.what-to-do .steps .step .step-container .schedule span {
  margin-left: 1rem;
}
/* What to Do Step 3 Booking */
.what-to-do .steps .step .step-container .book {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.12rem;
}

.what-to-do .steps .step .step-container .book a {
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 5px;
  min-width: 2rem;
  padding: 0.3rem 0.94rem;
  font-weight: bold;
}
/* HR step divider */
hr {
  border: 1px solid;
}

/* FaQ */
.faq {
  padding: 0 7%;
  margin: 4.68rem 0;
}

.faq .title {
  text-align: center;
}

.faq .title h2 {
  font-size: 2.75rem;
  font-weight: bold;
}
/* Faq Container */
.faq .container {
  margin: 20px 10% 0;
  background-color: var(--secondary);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-around;
}
/* Faq Image */
.faq .container .faq-image {
  margin: 0 auto;
  display: flex;
  align-items: end;
}

.faq .container .faq-image img {
  max-width: 55vh;
}
/* Faq Accordion */
.faq .container .accordion {
  border: 2px solid var(--secondary);
  border-radius: 15px;
  background-color: var(--primary);
  margin: 1.25rem;
}

.faq .container .accordion .accordion-tab {
  cursor: pointer;
  padding: 0.62rem;
}

.faq .container .accordion .accordion-tab .label {
  padding: 0.62rem;
  color: var(--secondary);
  display: flex;
  justify-content: space-between;
  transition: 0.4s;
}

.faq .container .accordion .accordion-tab .content {
  padding: 0 0.62rem;
  color: black;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.faq .container .accordion hr {
  color: var(--secondary);
}

/* Footer */
.footer {
  padding: 0 7%;
  padding-top: 1.87rem;
  background-color: var(--primary);
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
/* Footer Title */
.footer .footer-title {
  font-weight: bold;
}
/* Footer Text */
.footer p {
  color: var(--secondary);
}
/* Footer Logo */
.footer .footer-logo {
  display: flex;
  align-items: center;
}
/* Footer Link */
.footer .footer-link {
  display: grid;
}

.footer .footer-link ul {
  list-style-type: none;
}

.footer .footer-link ul li {
  margin-bottom: 0.62rem;
}

.footer .footer-link ul li a {
  color: var(--secondary);
  font-weight: normal;
}
/* Footer Contact Us and Follow Us On */
.footer .contact-us .phone,
.email {
  display: flex;
}

.footer .footer-link p,
.contact-us p,
.follow p {
  padding-bottom: 0.62rem;
}

.footer .contact-us .phone p,
.email p {
  margin: 0 0.62rem;
}

.footer .contact-us img,
.follow img {
  width: 1.56rem;
  height: 1.56rem;
}
/* Footer Copyright */
footer .copyright {
  text-align: center;
  grid-column: 1 / span 4;
  font-size: 0.87rem;
}

/* Media Queries */
/* Small Screen desktop/laptop */
@media (max-width: 1199.98px) {
  .what-to-do .steps {
    margin: 0 16%;
  }

  .faq .container {
    grid-template-columns: 100%;
  }

  .faq .container .faq-image {
    grid-row: 2;
  }

  .faq .container .accordion {
    grid-row: 1;
  }
}
/* Large Tablet */
@media (max-width: 991.98px) {
  .navbar .navbar-right {
    display: block;
  }

  .navbar .navbar-nav {
    display: none;
    position: absolute;
    right: 0;
    margin-right: 7%;
    top: 60px;
    width: 200px;
    border-radius: 10px;
    background-color: var(--secondary);
    opacity: 0.8;
    overflow: hidden;
    border: var(--primary) 1px solid;
  }

  .navbar .navbar-nav.open {
    display: block;
  }

  .navbar .navbar-nav .navbar-middle a {
    margin: 0;
    padding: 0.5rem;
    width: 100%;
  }

  .navbar .navbar-nav .navbar-middle a:hover {
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
  }

  .navbar .navbar-nav .navbar-middle .active {
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
  }

  .navbar .navbar-nav .navbar-login a {
    text-align: center;
    border-radius: 10px;
    display: block;
  }

  .navbar .navbar-nav .navbar-login a:hover {
    color: var(--primary);
    background-color: var(--secondary);
    border: var(--primary) 1px solid;
  }

  .hero h1 {
    font-size: 3.2rem;
  }

  .hero img {
    width: 48vh;
  }

  .what-to-do {
    margin: 2.81rem 0 0;
  }

  .what-to-do .steps {
    margin: 0 12%;
  }

  .faq {
    margin: 2.81rem 0;
  }

  .footer {
    grid-template-columns: auto auto auto;
  }

  .footer .copyright {
    grid-column: 1 / span 3;
  }

  .footer .footer-logo {
    grid-column: 1 / span 3;
    justify-content: center;
  }
}
/* Tablet */
@media (max-width: 767.98px) {
  .hero {
    display: block;
    text-align: center;
  }

  .hero h1 {
    font-size: 2.4rem;
  }

  .hero img {
    margin: 0;
    width: 36vh;
  }

  .what-to-do .steps {
    margin: 0 5%;
  }

  .what-to-do .steps .step {
    display: block;
  }

  .what-to-do .steps .step .step-image {
    text-align: center;
  }

  .what-to-do .steps .step .step-container {
    margin: 0;
  }

  .what-to-do .steps .step .step-container .step-title h3 {
    text-align: center;
  }

  .what-to-do .steps .step .step-container .step-title p {
    border-image: linear-gradient(to right, var(--third) 100%, transparent 100%)
      1;
    margin: auto;
  }

  .faq .container {
    margin: 0;
  }
}
/* Mobile */
@media (max-width: 575.98px) {
  .hero h1 {
    font-size: 1.6rem;
  }

  .hero img {
    margin: 0;
    width: 24vh;
  }

  .faq .container .faq-image img {
    max-width: 55vw;
  }

  .footer {
    display: block;
  }

  .footer .footer-link,
  .contact-us,
  .follow {
    margin-bottom: 1.25rem;
  }
}
